# Introduction to Python: Reading Files

In [ ]:
import pandas as pd
import numpy as ny
from numpy import percentile
california = pd.read_csv ('/content/sample_data/california_housing_train.csv')

california.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [ ]:
mean=ny.mean (california)

std=ny.std(california)

qhma1=percentile(california['housing_median_age'],[25])
qtr1=percentile(california['total_rooms'],[25])
qtb1=percentile(california['total_bedrooms'],[25])
qp1=percentile(california['population'],[25])
qh1=percentile(california['households'],[25])
qmi1=percentile(california['median_income'],[25])
qmhv1=percentile(california['median_house_value'],[25])

qhma2=percentile(california['housing_median_age'],[50])
qtr2=percentile(california['total_rooms'],[50])
qtb2=percentile(california['total_bedrooms'],[50])
qp2=percentile(california['population'],[50])
qh2=percentile(california['households'],[50])
qmi2=percentile(california['median_income'],[50])
qmhv2=percentile(california['median_house_value'],[50])

qhma3=percentile(california['housing_median_age'],[75])
qtr3=percentile(california['total_rooms'],[75])
qtb3=percentile(california['total_bedrooms'],[75])
qp3=percentile(california['population'],[75])
qh3=percentile(california['households'],[75])
qmi3=percentile(california['median_income'],[75])
qmhv3=percentile(california['median_house_value'],[75])

print("NILAI MEAN")
print(mean)

print("")

print("NILAI STANDARD DEVIASI")
print(std)

print("")

print("NILAI MIN HOUSING MEDIAN AGE = ", california['housing_median_age'].min())
print("nilai MIN TOTAL ROOMS = ", california['total_rooms'].min())
print("nilai MIN TOTAL BEDROOMS = ", california['total_bedrooms'].min())
print("nilai MIN POPULATION = ", california['population'].min())
print("nilai MIN HOUSEHOLDS = ", california['households'].min())
print("nilai MIN MEDIAN INCOME = ", california['median_income'].min())
print("nilai MIN MEDIAN HOUSE VALUE = ", california['median_house_value'].min())

print("")

print("NILAI MAX HOUSING MEDIAN AGE = ", california['housing_median_age'].max())
print("nilai MAX TOTAL ROOMS = ", california['total_rooms'].max())
print("nilai MAX TOTAL BEDROOMS = ", california['total_bedrooms'].max())
print("nilai MAX POPULATION = ", california['population'].max())
print("nilai MAX HOUSEHOLDS = ", california['households'].max())
print("nilai MAX MEDIAN INCOME = ", california['median_income'].max())
print("nilai MAX MEDIAN HOUSE VALUE = ", california['median_house_value'].max())

print("")

print("NILAI Q1 HOUSING MEDIAN AGE =",qhma1, "NILAI Q2 HOUSING MEDIAN AGE =",qhma2, "NILAI Q3 HOUSING MEDIAN AGE =",qhma3)
print("NILAI Q1 TOTAL ROOM =",qtr1,"NILAI Q2 TOTAL ROOM =",qtr2, "NILAI Q3 TOTAL ROOM =",qtr3)
print("NILAI Q1 TOTAL BEDROOM =",qtb1, "NILAI Q2 TOTAL BEDROOM =",qtb2, "NILAI Q3 TOTAL BEDROOM =",qtb3)
print("NILAI Q1 POPULATION =",qp1, "NILAI Q2 POPULATION =",qp2, "NILAI Q3 POPULATION =",qp3)
print("NILAI Q1 HOUSEHOLDS =",qh1 , "NILAI Q2 HOUSEHOLDS =",qh2, "NILAI Q3 HOUSEHOLDS =",qh3)
print("NILAI Q1 MEDIAN INCOME =",qmi1, "NILAI Q2 MEDIAN INCOME =",qmi2, "NILAI Q3 MEDIAN INCOME =",qmi3 )
print("NILAI Q1 MEDIAN HOUSE VALUE =",qmhv1, "NILAI Q2 MEDIAN HOUSE VALUE =",qmhv2, "NILAI Q3 MEDIAN HOUSE VALUE =",qmhv3 )

NILAI MEAN
longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

NILAI STANDARD DEVIASI
longitude                  2.005107
latitude                   2.137277
housing_median_age        12.586567
total_rooms             2179.882954
total_bedrooms           421.487054
population              1147.819198
households               384.509531
median_income              1.908100
median_house_value    115980.353050
dtype: float64

NILAI MIN HOUSING MEDIAN AGE =  1.0
nilai MIN TOTAL ROOMS =  2.0
nilai MIN TOTAL BEDROOMS =  1.0
nilai MIN POPULATION =  3.0
nilai MIN HOUSEHOLDS =  1.0
nilai MIN MEDIAN INCOME =  0.4999
nilai MIN MEDIAN HOUSE VALUE =  14999.0

NILAI MAX HOUSING MEDIAN AGE =  52.0
nilai MAX TOTAL ROOMS =  37937.0
nilai MAX TOTAL BEDROOMS =  6445.0
nilai MAX POPULATION =  35682.0
nilai MAX HOUSEHOLDS =  6082.0
nilai MAX MEDIAN INCOME =  15.0001
nilai MAX MEDIAN HOUSE VALUE =  500001.0

NILAI Q1 HOUSING MEDIAN AGE = [18.] NILAI Q2 HOUSING MEDIAN AGE = [29.] NILAI Q3 HOUSING MEDIAN AGE = [37.]
NILAI Q1 TOTAL ROOM = [1462.] NILAI Q2 TOTAL ROOM = [2127.] NILAI Q3 TOTAL ROOM = [3151.25]
NILAI Q1 TOTAL BEDROOM = [297.] NILAI Q2 TOTAL BEDROOM = [434.] NILAI Q3 TOTAL BEDROOM = [648.25]
NILAI Q1 POPULATION = [790.] NILAI Q2 POPULATION = [1167.] NILAI Q3 POPULATION = [1721.]
NILAI Q1 HOUSEHOLDS = [282.] NILAI Q2 HOUSEHOLDS = [409.] NILAI Q3 HOUSEHOLDS = [605.25]
NILAI Q1 MEDIAN INCOME = [2.566375] NILAI Q2 MEDIAN INCOME = [3.5446] NILAI Q3 MEDIAN INCOME = [4.767]
NILAI Q1 MEDIAN HOUSE VALUE = [119400.] NILAI Q2 MEDIAN HOUSE VALUE = [180400.] NILAI Q3 MEDIAN HOUSE VALUE = [265000.]

Cari nilai:

Mean

Standard deviation

Minimum

Maximum

Q1 (Kuartil pertama)

Q2 (Kuartil kedua)

Q3 (Kuartil ketiga)

Apakah terdapat nilai kosong/bernilai 0

Untuk attribute/feature berikut:

housing_median_age

total_rooms

total_bedrooms

population

households

median_income

median_house_value

Untuk hasil output bisa dikeluarkan menggunakan function print(). Untuk cara yang ingin digunakan, bebas. Hal yang penting adalah mendapatkan nilai-nilai seperti yang tertulis diatas untuk masing-masing attribute sesuai dengan yang dijelaskan.